*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-moz-selection { /* Code for Firefox */
    background: transparent;
  }
  ::selection {
    background: transparent;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.container h1{
    position: absolute;
    color: #ccc;
    top: 50%;
    left: 73%;
    transform: translateY(-100%);
    font-size: 70px;
    letter-spacing: 3px;
}
.container h2{
    color: #000;
    position: absolute;
    margin-left: 960px;
    transform: translateY(750%);
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #ccc;
}
.container h3 u{
    color: #000;
    position: absolute;
    margin-left: 1060px;
    transform: translateY(800%);
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: #ccc;
}